body{background-color:rgba(24, 0, 90, 0.89)}
.title1{background-color: rgba(255, 0, 0, 0.685); color:black; font-size: 60px; font-family: serif; text-align: center;}
.title2{background-color:rgb(142, 119, 153); color:black; font-size:25px;}
.deguti{color:white; font-size:18px}
.sinomiya{color:white; font-size:18px }
.kasai{color:white; font-size:18px; }
.ono{list-style: none;}
